.tablerow_head,
.tablehead,
.tablehead_date,
.tabledata_desc,
.tabledata,
.date,
.new_habit,
.tablerow {
  border: 2px solid var(--color-50);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.done {
  background-color: var(--accent);
}

.new_habit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.new_habit svg {
  transform: scale(1.5);
}
